body{
    background-color: #eb99ff;

    background-image: url(https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683__340.png);

    background-size: cover;
}

nav{
    border-style: double;
}